@use "../../assets/variables.scss" as variables;

.characters-container {
  margin-top: 14px;
  .character-card {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid variables.$border-color;

    &:hover {
      border: 1px solid variables.$hover-border-card-color;
    }

    &:nth-last-child(1) {
      margin-top: 20px;
    }
    .character-image {
      border-radius: 6px;
      outline: 1px solid variables.$border-color;
      object-fit: cover;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .character-info {
      .character-username {
        display: flex;
        align-items: center;
        gap: 10px;

        margin-top: 30px;

        .username {
          font-size: 36px;
          font-family: variables.$text-pixel;
        }

        svg {
          width: 18px;
          height: 18px;
        }
      }

      .character-attributes {
        display: flex;
        gap: 26px;

        margin-top: 20px;
        .character-race {
          display: flex;
          align-items: center;
          gap: 10px;

          .human-svg-container {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 1px solid variables.$text-aqua-blue-color;
            border-radius: 50%;
          }

          .race {
            font-size: 24px;

            font-family: variables.$text-pixel;
          }
        }

        .character-class {
          display: flex;
          align-items: center;
          gap: 10px;

          .bm-svg-container {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 1px solid variables.$text-aqua-blue-color;
            border-radius: 50%;

            svg {
              width: 15.6px;
              height: 21.6px;
            }
          }
          .class {
            font-size: 24px;

            font-family: variables.$text-pixel;
          }
        }
      }

      .character-stats {
        display: flex;
        flex-direction: column;
        margin-top: 22px;
        .level-content-container {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          .level-container {
            display: flex;
            align-items: flex-end;
            .level-number {
              font-size: 32px;

              font-family: variables.$text-pixel;
              color: variables.$text-aqua-blue-color;
            }

            .level-text {
              font-size: 16px;
              font-family: variables.$text-medium;
              color: variables.$text-gray-color;
              line-height: 69%;
            }
          }

          .experience {
            font-size: 16px;
            font-family: variables.$text-medium;
            color: variables.$text-aqua-blue-color;
            line-height: 69%;
          }
        }

        .progress-bar {
          width: 100%;
          height: 10px;
          background-color: variables.$progress-bar-background-color;
          border-radius: 2px;

          margin-top: 10px;
          .progress {
            height: 10px;
            background: variables.$progress-gradient-color;
            border-radius: 2px;
          }
        }
      }

      .gear-score-container {
        margin-top: 24px;

        .title {
          font-size: 16px;
          font-family: variables.$text-medium;

          color: variables.$text-gray-color;
        }

        .score {
          margin-top: 14px;
          font-size: 32px;
          font-family: variables.$text-pixel;

          color: variables.$text-aqua-blue-color;
        }
      }

      .description-container {
        margin-top: 24px;

        .description-title {
          font-size: 16px;
          font-family: variables.$text-medium;

          color: variables.$text-gray-color;
        }

        .description {
          margin-top: 10px;
          font-size: 16px;
          line-height: 110%;
        }
      }
    }
  }
}

@media (min-width: 568px) {
  .characters-container {
    .character-card {
      display: flex;
      flex-direction: row;
      height: clamp(336px, 34.96px + 53vw, 442px);
      padding: 24px 20px;
      .character-image {
        margin-right: 20px;
        flex: 0 0 clamp(203px, 21.24px + 32vw, 267px);
      }
      .character-info {
        margin-top: 6px;
        .character-username {
          margin-top: 0;

          .username {
            font-size: 30px;
          }
        }

        .character-attributes {
          margin-top: 12px;
          gap: 20px;
          .character-race {
            .human-svg-container {
              width: 26px;
              height: 26px;
              svg {
                height: 15.6px;
                width: 15.6px;
              }
            }
            .race {
              font-size: 20px;
            }
          }

          .character-class {
            .bm-svg-container {
              width: 26px;
              height: 26px;
              svg {
                width: 14px;
                height: 18px;
              }
            }
            .class {
              font-size: 20px;
            }
          }
        }

        .character-stats {
          margin-top: 16px;
          .level-content-container {
            .level-container {
              .level-number {
                font-size: 28px;
              }

              .level-text {
                font-size: 14px;
              }
            }

            .experience {
              font-size: 14px;
            }
          }

          // .progress-bar {
          //   height: 6px;
          //   .progress {
          //     height: 6px;
          //   }
          // }
        }

        .gear-score-container {
          margin-top: 20px;
          .title {
            font-size: 16px;
          }

          .score {
            margin-top: 10px;
            font-size: 28px;
          }
        }

        .description-container {
          .description-title {
            font-size: 16px;
          }

          .description {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .characters-container {
    .character-card {
      padding: 32px 50px;
      height: clamp(442px, -113.429px + 72.321vw, 604px);
      .character-image {
        margin-right: 35px;
        flex: 0 0 clamp(267px, -79.286px + 45.089vw, 368px);
      }

      .character-info {
        margin-top: 10px;
        .character-username {
          .username {
            font-size: 36px;
          }
        }

        .character-attributes {
          margin-top: 20px;

          .character-race {
            .human-svg-container {
              width: 30px;
              height: 30px;
              svg {
                width: 18px;
                height: 18px;
              }
            }
            .race {
              font-size: 24px;
            }
          }

          .character-class {
            .bm-svg-container {
              width: 30px;
              height: 30px;
              svg {
                width: 16px;
                height: 21px;
              }
            }
            .class {
              font-size: 24px;
            }
          }
        }

        .character-stats {
          margin-top: 22px;

          .level-content-container {
            .level-container {
              .level-number {
                font-size: 32px;
              }

              .level-text {
                font-size: 16px;
              }
            }
            .experience {
              font-size: 16px;
            }
          }
        }

        .gear-score-container {
          margin-top: 24px;

          .score {
            margin-top: 12px;
            font-size: 32px;
          }
        }

        .description-container {
          .description {
            margin-top: 12px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .characters-container {
    .character-card {
      .character-image {
        margin-right: 40px;
      }

      .character-info {
        .character-username {
          .username {
            font-size: 40px;
          }
          svg {
            width: 24px;
            height: 24px;
          }
        }

        .character-attributes {
          margin-top: 24px;
          gap: 30px;
          .character-race {
            .human-svg-container {
              height: 40px;
              width: 40px;
              svg {
                height: 24px;
                width: 24px;
              }
            }

            .race {
              font-size: 30px;
            }
          }

          .character-class {
            .bm-svg-container {
              height: 40px;
              width: 40px;

              svg {
                height: 24px;
                width: 24px;
              }
            }

            .class {
              font-size: 30px;
            }
          }
        }
        .character-stats {
          margin-top: 26px;
          .level-content-container {
            .level-container {
              .level-number {
                font-size: 42px;
              }

              .level-text {
                font-size: 18px;
              }
            }

            .experience {
              font-size: 18px;
            }
          }

          .progress-bar {
            margin-top: 14px;
          }
        }

        .gear-score-container {
          .title {
            font-size: 18px;
          }

          .score {
            margin-top: 16px;
            font-size: 42px;
          }
        }

        .description-container {
          margin-top: 34px;
          .description-title {
            font-size: 18px;
          }

          .description {
            margin-top: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .characters-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    .character-card {
      height: clamp(420px, -24px + 30.833vw, 568px);
      &:nth-last-child(1) {
        margin-top: 0;
      }

      .character-image {
        margin-right: 30px;
        flex: 0 0 clamp(254px, -13px + 18.542vw, 343px);
      }

      .character-info {
        margin-top: 0;

        .character-username {
          margin-top: 3px;
          .username {
            font-size: 36px;
          }

          svg {
            height: 18px;
            width: 18px;
          }
        }

        .character-attributes {
          gap: 25px;
          margin-top: 20px;
          .character-race {
            .human-svg-container {
              width: 30px;
              height: 30px;
              svg {
                width: 18px;
                height: 18px;
              }
            }

            .race {
              font-size: 24px;
            }
          }

          .character-class {
            .bm-svg-container {
              max-width: 30px;
              height: 30px;
              svg {
                width: 16px;
                height: 21px;
              }
            }

            .class {
              text-wrap: nowrap;
              font-size: 24px;
            }
          }
        }
        .character-stats {
          margin-top: 22px;
          .level-content-container {
            .level-container {
              gap: 8px;
              .level-number {
                font-size: 32px;
              }

              .level-text {
                font-size: 16px;
              }
            }

            .experience {
              font-size: 16px;
            }
          }
        }

        .gear-score-container {
          .title {
            font-size: 16px;
          }

          .score {
            margin-top: 12px;
            font-size: 32px;
          }
        }

        .description-container {
          margin-top: 24px;
          .description-title {
            font-size: 16px;
          }

          .description {
            margin-top: 5px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .characters-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    .character-card {
      .character-image {
        margin-right: 30px;
      }

      .character-info {
        margin-top: 0;

        .character-username {
          .username {
            font-size: 40px;
          }

          svg {
            height: 24px;
            width: 24px;
          }
        }

        .character-attributes {
          margin-top: 20px;
          .character-race {
            .human-svg-container {
              width: 40px;
              height: 40px;
              svg {
                width: 24px;
                height: 24px;
              }
            }

            .race {
              font-size: 30px;
            }
          }

          .character-class {
            .bm-svg-container {
              width: 40px;
              height: 40px;
              svg {
                width: 24px;
                height: 24px;
              }
            }

            .class {
              font-size: 30px;
            }
          }
        }
        .character-stats {
          margin-top: 22px;
          .level-content-container {
            .level-container {
              .level-number {
                font-size: 42px;
              }

              .level-text {
                font-size: 18px;
              }
            }

            .experience {
              font-size: 18px;
            }
          }
        }

        .gear-score-container {
          .title {
            font-size: 18px;
          }

          .score {
            margin-top: 12px;
            font-size: 42px;
          }
        }

        .description-container {
          margin-top: 24px;
          .description-title {
            font-size: 18px;
          }

          .description {
            margin-top: 12px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
