@use "../../assets/variables.scss" as variables;

.characters-container {
  margin-top: 14px;
  .character-card {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid variables.$border-color;

    &:nth-last-child(1) {
      margin-top: 20px;
    }
    .character-image {
      width: 340px;
      height: 482px;
    }

    .character-info {
      .character-username {
        display: flex;
        gap: 10px;

        margin-top: 20px;

        .username {
          font-size: 36px;
          font-family: variables.$text-pixel;
          line-height: 120%;
        }
      }

      .character-attributes {
        display: flex;
        gap: 25px;

        .character-race {
          display: flex;
          align-items: center;
          gap: 10px;

          .human-svg-container {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 1px solid variables.$text-aqua-blue-color;
            border-radius: 50%;
          }

          .race {
            font-size: 24px;
            line-height: 120%;
            font-family: variables.$text-pixel;
          }
        }

        .character-class {
          display: flex;
          align-items: center;
          gap: 10px;

          .bm-svg-container {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 1px solid variables.$text-aqua-blue-color;
            border-radius: 50%;

            svg {
              width: 15.6px;
              height: 21.6px;
            }
          }
          .class {
            font-size: 24px;
            line-height: 120%;
            font-family: variables.$text-pixel;
          }
        }
      }

      .character-stats {
        display: flex;
        flex-direction: column;

        .level-content-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .level-container {
            display: flex;
            align-items: center;
            .level-number {
              font-size: 32px;
              line-height: 120%;
              font-family: variables.$text-pixel;
              color: variables.$text-aqua-blue-color;
            }

            .level-text {
              font-size: 16px;
              line-height: 120%;
              font-family: variables.$text-medium;
              color: variables.$text-gray-color;
            }
          }

          .experience {
            font-size: 16px;
            font-family: variables.$text-medium;
            line-height: 120%;
            color: variables.$text-aqua-blue-color;
          }
        }

        .progress-bar {
          width: 100%;
          height: 10px;
          background-color: variables.$progress-bar-background-color;
          border-radius: 2px;
          .progress {
            height: 10px;
            background: variables.$progress-gradient-color;
            border-radius: 2px;
          }
        }
      }

      .gear-score-container {
        margin-top: 20px;

        .title {
          font-size: 16px;
          font-family: variables.$text-medium;
          line-height: 120%;
          color: variables.$text-gray-color;
        }

        .score {
          font-size: 32px;
          font-family: variables.$text-pixel;
          line-height: 120%;
          color: variables.$text-aqua-blue-color;
        }
      }

      .description-container {
        margin-top: 10px;

        .description-title {
          font-size: 16px;
          font-family: variables.$text-medium;
          line-height: 120%;
          color: variables.$text-gray-color;
        }

        .description {
          margin-top: 4px;
          font-size: 16px;
          line-height: 110%;
        }
      }
    }
  }
}
