@use "../../assets/variables.scss" as variables;

.profile-info-container {
  display: flex;
  align-items: center;
  gap: clamp(15px, 0.811px + 3.378vw, 20px);

  .profile-image-container {
    width: 100px;
    height: 100px;
    .profile-avatar {
      width: 100%;
      height: 100%;
      clip-path: circle(50%);
    }
  }

  .profile-container {
    display: flex;
    flex-direction: column;

    .login-container {
      .login {
        margin-right: 6px;

        font-family: variables.$text-medium;
      }
    }

    .address-container {
      display: flex;
      align-items: center;
      .address {
        margin: 0 6px;

        font-family: variables.$text-medium;
        color: variables.$text-gray-color;
      }

      .wallet-svg {
        align-self: flex-start;
        .path-fill {
          fill: #707070;
        }
      }

      .copy-svg {
        align-self: flex-end;
        .path-fill {
          fill: #707070;
        }
      }

      &:hover {
        .address {
          color: variables.$text-default-color;
        }

        .wallet-svg {
          .path-fill {
            fill: variables.$hover-address-color;
          }
        }

        .copy-svg {
          .path-fill {
            fill: #fefefe;
          }
        }
      }
    }

    .email-container {
      .header-email {
        margin-right: 6px;

        font-family: variables.$text-medium;
        color: variables.$text-gray-color;
      }
      .email {
        margin-right: 6px;

        font-family: variables.$text-medium;
      }
    }
  }
}

@media (min-width: 360px) {
  .profile-info-container {
    .profile-image-container {
      width: clamp(60px, -180px + 66.667vw, 100px);
      height: clamp(60px, -180px + 66.667vw, 100px);
    }

    .profile-container {
      .login-container {
      }

      .address-container {
        margin-top: 8px;

        .copy-svg {
          width: 13px;
          height: 14px;
        }

        .wallet-svg {
          width: 13px;
          height: 13px;
        }
      }

      .email-container {
        margin-top: 8px;
      }
    }
  }
}

@media (min-width: 420px) {
  .profile-info-container {
    .profile-container {
      .login-container {
        .login {
          font-size: clamp(18px, 12.324px + 1.351vw, 20px);
        }
      }

      .address-container {
        .address {
          font-size: clamp(16px, 10.324px + 1.351vw, 18px);
        }

        .copy-svg {
        }
      }

      .email-container {
        .header-email {
          font-size: clamp(16px, 10.324px + 1.351vw, 18px);
        }

        .email {
          font-size: clamp(16px, 10.324px + 1.351vw, 18px);
        }
      }
    }
  }
}

@media (min-width: 568px) {
  .profile-info-container {
    .profile-image-container {
      width: 120px;
      height: 120px;
    }

    .profile-container {
      .login-container {
        .login {
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }

      .address-container {
        .address {
        }

        .wallet-svg {
          width: 14px;
          height: 14px;
        }

        .copy-svg {
          width: 15px;
          height: 16px;
        }
      }

      .email-container {
        .header-email {
        }

        .email {
        }

        svg {
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .profile-info-container {
    margin-top: 21px;
    padding: 8px 0;
  }
}

@media (min-width: 1440px) {
  .profile-info-container {
    .profile-image-container {
      width: clamp(120px, 0px + 8.333vw, 160px);
      height: clamp(120px, 0px + 8.333vw, 160px);
    }

    .profile-container {
      .login-container {
        .login {
          font-size: clamp(20px, 2px + 1.25vw, 26px);
        }
      }

      .address-container {
        margin-top: 11px;

        .address {
          font-size: clamp(18px, 6px + 0.833vw, 22px);
        }

        .wallet-svg {
          width: 14px;
          height: 14px;
        }
      }

      .email-container {
        margin-top: 12px;

        .header-email {
          font-size: clamp(18px, 6px + 0.833vw, 22px);
        }

        .email {
          font-size: clamp(18px, 6px + 0.833vw, 22px);
        }
        .copy-svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .profile-info-container {
    gap: 24px;
    .profile-image-container {
    }
    .profile-container {
      .login-container {
        .login {
          margin-right: 8px;
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .address-container {
        margin-top: 12px;

        .address {
          margin-left: 7px;
          margin-right: 9px;
        }

        .wallet-svg {
          width: 18px;
          height: 18px;
        }

        .copy-svg {
          width: 18px;
          height: 20px;
        }
      }

      .email-container {
        margin-top: 15px;

        .header-email {
          margin-right: 9px;
        }

        .email {
          margin-right: 7px;
        }

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
