@use "../../assets/variables.scss" as variables;

.profile-info-container {
  display: flex;
  align-items: center;
  gap: clamp(15px, 0.811px + 3.378vw, 20px);

  .profile-image-container {
    width: 100px;
    height: 100px;
    .profile-avatar {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login-container {
      .login {
        margin-right: 6px;

        font-family: variables.$text-medium;
      }
    }

    .address-container {
      .address {
        margin: 0 6px;

        font-family: variables.$text-medium;
        color: variables.$text-gray-color;
      }
    }

    .email-container {
      .header-email {
        margin-right: 6px;

        font-family: variables.$text-medium;
        color: variables.$text-gray-color;
      }
      .email {
        margin-right: 6px;

        font-family: variables.$text-medium;
      }
    }
  }
}

@media (max-width: 360px) {
  .profile-info-container {
    .profile-image-container {
      margin-right: clamp(15px, 0.811px + 3.378vw, 20px);
      width: 60px;
      height: 60px;
    }
  }
}

@media (min-width: 420px) {
  .profile-info-container {
    .profile-container {
      .login-container {
        .login {
          font-size: clamp(18px, 12.324px + 1.351vw, 20px);
        }
      }

      .address-container {
        display: flex;
        align-items: center;
        margin-top: clamp(6px, 0.324px + 1.351vw, 8px);
        .address {
          font-size: clamp(16px, 10.324px + 1.351vw, 18px);
        }
      }

      .email-container {
        margin-top: clamp(6px, 0.324px + 1.351vw, 8px);

        .header-email {
          font-size: clamp(16px, 10.324px + 1.351vw, 18px);
        }

        .email {
          font-size: clamp(16px, 10.324px + 1.351vw, 18px);
        }
      }
    }
  }
}

@media (min-width: 568px) {
  .profile-info-container {
    .profile-image-container {
      width: 120px;
      height: 120px;
    }

    .profile-container {
      .login-container {
        .login {
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }

      .address-container {
        .address {
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }

      .email-container {
        .header-email {
        }

        .email {
        }

        svg {
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .profile-info-container {
    .profile-image-container {
      width: 160px;
      height: 160px;
    }
  }
}
