$main-background-color: #121212;

$text-primary: "Rubik";
$text-medium: "RubikMedium";
$text-pixel: "Fairfax";
$text-titles: "Fairfax";

$text-default-color: #fefefe;
$text-gray-color: #707070;
$text-gray-dark-color: #404040;
$text-aqua-blue-color: #34d3d7;

$border-color: #404040;
