#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (min-width: 100px) {
  .main {
    // padding: 10px;
    .top-section {
      padding: 0 10px;
    }
    .navbar-container {
      margin-top: 35px;
    }

    .tab-content {
      padding: 0 10px;
    }
  }
}

@media (min-width: 568px) {
  .main {
    padding: 0 16px;

    .top-section {
      padding: 0;
    }

    .tab-content {
      padding: 0;
    }
  }
}
@media (min-width: 768px) {
  .main {
    padding: 0 32px;

    .navbar-container {
      margin-top: 45 px;
    }
  }
}

@media (min-width: 1000px) {
  .main {
    padding: 0 15px;
  }
  .top-section {
    display: flex;
    // gap: clamp(100px, -581.818px + 68.182vw, 400px);

    .profile-info-container {
      flex: 1;
    }
    .balance-container {
      width: clamp(410px, 160px + 25vw, 520px);
    }
  }
}

@media (min-width: 1210px) {
  .main {
    padding: 0 40px;
  }
}

@media (min-width: 1440px) {
  .main {
    padding: 0 40px;
  }

  .top-section {
    .balance-container {
      width: clamp(520px, 160px + 25vw, 640px);
    }
  }
}

@media (min-width: 1920px) {
  .main {
    .navbar-container {
      margin-top: 50px;
    }
  }
}
